.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  //background-color: #F5F5DC; // Молочний фон
  border: 2px solid #9f0404; // Матовий рожевий обвід
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.2s;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &__content {
    flex-grow: 1;

    strong {
      display: block;
      color: #800020; // Основний бордовий
      font-size: 18px;
      margin-bottom: 5px;
    }

    div {
      color: #222222; // Темно-сірий
      font-size: 14px;
    }
  }

  &__button {
    display: flex;
    gap: 10px;

    button {
      background-color: #800020; // Бордовий фон
      color: #FFFFFF; // Білий текст
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #F4C2C2; // Матовий рожевий
        color: #800020; // Бордовий текст
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

/* Стилі для модального вікна */
.modal {
  background-color: #FFFFFF; // Білий фон
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;

  h2 {
    color: #800020; // Бордовий заголовок
    margin-bottom: 15px;
    text-align: center;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #F4C2C2; // Матовий рожевий
    border-radius: 5px;
    background-color: #F5F5DC; // Молочний фон
    color: #222222; // Темно-сірий текст
    outline: none;

    &:focus {
      border-color: #800020; // Основний бордовий
    }
  }

  button {
    display: block;
    margin: 0 auto;
    background-color: #800020;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #F4C2C2;
      color: #800020;
    }
  }
}
