.container {
  display: flex;
  flex-direction: column;
  background: white;
  padding-bottom: 30px;
  width: 600px;
  border-radius: 20px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #250101;
  font-size: 48px;
  font-weight: 700;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #ede0e0;
  border-radius: 6px;

  img{
    margin: 0 30px;
  }

  input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
  }
}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
  
  span {
    color: #1c0101;
    cursor: pointer;
  }
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 20px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background: #250101;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;

  &--test{
    margin: 0 auto;
    width: 220px;
    height: 59px;
    color: white;
    background: #1c0101;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
  }
}

.gray{
  background: #EAEAEA;
  color: #250101;
}

.change-method{
  text-align: center;
  color: #797979;
  font-size: 18px;

  span {
    color: #250101;
    cursor: pointer;
  }
}