.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #F4C2C2; /* Матовий рожевий */
    border-radius: 5px;
    background-color: #F5F5DC;
    color: #222222;
    transition: border 0.3s;

    &:focus {
      border-color: #800020; /* Основний бордовий */
    }
  }

  button {
    align-self: flex-start;
    background-color: #800020; /* Основний бордовий */
    color: #FFFFFF; /* Білий текст */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #F4C2C2; /* Матовий рожевий */
      color: #800020; /* Текст бордовий */
    }
  }
}
